body{
      
}

.dots .dot{
   display: block;
   border-radius: 10px;
   margin: 0 5px;
   width: 15px;
   height: 15px;
   background-color: grey;
   cursor: pointer;
}

.dots{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.container{
    margin: 120px auto;
    max-width: 1280px;
}


#prev{
    margin-left: 15px;
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#prev:hover{
    display: block;
    cursor: pointer;
    background-color: rgba(194, 189, 189, 0.5);
    opacity: 30;
}

#next{
    margin-right: 15px;
    position: absolute;
    top: 50%;
    right: 17%;
    transform: translateY(-50%);
    transition: all 0.5 ease;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center; 
    border: none;
}

#next:hover{
    display: block;
    cursor: pointer;
    background-color: rgba(194, 189, 189, 0.5);
}

.active{
    display: block;
}

.hide{
    display: none;
}

.dots-active{
    background-color: black !important;
}

.dots-hide{
    background-color: grey;
}

.fade{
    animation: fade 1s;
}

@keyframes fade {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}